<!--
/* ************************************************************************** */
/*                                                          LE - /            */
/*                                                              /             */
/*   visu.html                                        .::    .:/ .      .::   */
/*                                                 +:+:+   +:    +:  +:+:+    */
/*   By: fablin <fablin@student.42.fr>              +:+   +:    +:    +:+     */
/*                                                 #+#   #+    #+    #+#      */
/*   Created: 2018/10/23 18:55:30 by fablin       #+#   ##    ##    #+#       */
/*   Updated: 2018/10/24 12:31:53 by fablin      ###    #+. /#+    ###.fr     */
/*                                                         /                  */
/*                                                        /                   */
/* ************************************************************************** */
-->
<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Corewar</title>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">

    </head>
 
    <body>
		<div class="container-fluid">
			<div class="row">
				<div class="text-center">
					<h1>Corewar</h1>
					<p>Projet realisé au 101</p> 
				</div>
			</div>
			<div class="row">
				<div id="grid" class="col-sm-9">
					<div class="cadre">
							GRID
					</div>
				</div>
				<div class="col-sm-3">
					<div class="cadre">
						STATS
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="text-right font-italic">
						<p>auteurs : fablin - fpupier - vsteyaer - slatchma</p> 
					</div>
				</div>
			</div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io();
			
			socket.on("turn", (msg) => {
				$('#grid>.cadre').text(msg);
			})
		</script>
    </body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>