body{
	background-color: #222;
	color: #ddd;
	background-image: url("wallpaper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.cadre{
	height:45vw;
	border-radius: 20px;
	background-color: none;
	background-color: rgba(50, 50, 50, 0.65);
	padding: 15px;
}

.row > div {
}